#closeBtn {
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 50%;
  background: #fff;
  color: #999;
  outline: none;
  position: absolute;
  right: 8px;
  top: 13px;
}

#closeBtn:hover {
  background: #ec8e92;
  color: #fff;
}

#closeBtn:active {
  background: #cc7d80;
  color: #fff;
}

#stopBtn {
  width: 48%;
  float: right;
}

#testBtn {
  width: 48%;
}

#saveBtn {
  width: 100%;
}
